

<div class="vc_element vc_vc_row vc_container-block vc_layout_1" data-tag="vc_row"
  data-shortcode-controls="[&quot;edit&quot;,&quot;clone&quot;,&quot;delete&quot;]"
  data-model-id="766dfa16d288ca18419185a472bb4c01">
  <div class="vc_row wpb_row vc_row-fluid ui-sortable">
    <div class="vc_element vc_vc_column vc_container-block vc_col-sm-12" data-tag="vc_column"
      data-shortcode-controls="[&quot;edit&quot;,&quot;clone&quot;,&quot;delete&quot;]"
      data-model-id="c2a9da0bb3ade703cef09d69c9169954">
      <div class="wpb_column vc_column_container">
        <div class="vc_column-inner">
          <div class="wpb_wrapper vc_element-container ui-sortable">
            <div class="vc_element vc_wpforms"
              data-shortcode-controls="[&quot;edit&quot;,&quot;clone&quot;,&quot;delete&quot;]" data-container=""
              data-model-id="e17a16de-6d64" data-tag="wpforms">
              <div class="wpforms-container wpforms-container-full" id="wpforms-5486">
                <form id="wpforms-form-5486" class="wpforms-validate wpforms-form" data-formid="5486" method="post"
                  enctype="multipart/form-data"
                  action="/wordpress/%ea%b7%bc%eb%a1%9c%ea%b3%84%ec%95%bd%ec%84%9c/?vc_editable=true&amp;vc_post_id=5444&amp;_vcnonce=d59671afcf"
                  novalidate="novalidate" target="_blank">
                  <div class="wpforms-field-container">
                    <div id="wpforms-5486-field_0-container" class="wpforms-field wpforms-field-name" data-field-id="0">
                      <label class="wpforms-field-label" for="wpforms-5486-field_0">근로자 명 <span
                          class="wpforms-required-label">*</span></label><input type="text" id="wpforms-5486-field_0"
                        class="wpforms-field-small wpforms-field-required" name="wpforms[fields][0]" required=""></div>
                    <div id="wpforms-5486-field_6-container" class="wpforms-field wpforms-field-text" data-field-id="6">
                      <label class="wpforms-field-label" for="wpforms-5486-field_6">근로자 연락처 <span
                          class="wpforms-required-label">*</span></label><input type="text" id="wpforms-5486-field_6"
                        class="wpforms-field-medium wpforms-field-required" name="wpforms[fields][6]" required=""></div>
                    <div id="wpforms-5486-field_5-container" class="wpforms-field wpforms-field-text" data-field-id="5">
                      <label class="wpforms-field-label" for="wpforms-5486-field_5">근로자 주소 <span
                          class="wpforms-required-label">*</span></label><input type="text" id="wpforms-5486-field_5"
                        class="wpforms-field-medium wpforms-field-required" name="wpforms[fields][5]" required=""></div>
                    <div id="wpforms-5486-field_7-container" class="wpforms-field wpforms-field-text" data-field-id="7">
                      <label class="wpforms-field-label" for="wpforms-5486-field_7">사업체 명 <span
                          class="wpforms-required-label">*</span></label><input type="text" id="wpforms-5486-field_7"
                        class="wpforms-field-medium wpforms-field-required" name="wpforms[fields][7]" required="">
                      <div class="wpforms-field-description">사업주 명을 적어주세요.</div>
                    </div>
                    <div class="period">
                      <input data-val="true" data-val-date="ContractStartDate 필드는 날짜여야 합니다." id="StandardModel_ContractStartDate" name="StandardModel.ContractStartDate" title="계약기간 시작" type="hidden" value="">
                      <input data-val="true" data-val-date="ContractEndDate 필드는 날짜여야 합니다." id="StandardModel_ContractEndDate" name="StandardModel.ContractEndDate" title="계약기간 종료" type="hidden" value="">

                      <select class="selYear" data-name="StandardModel.ContractStartDate" data-val="true" data-val-number="Year 필드는 숫자여야 합니다." data-val-required="Year 필드가 필요합니다." id="StandardModel_ContractStartDate_Value_Year" name="StandardModel.ContractStartDate.Value.Year" title="계약기간 시작 년"><option value="">년</option>
<option value="2018">2018년</option>
<option selected="selected" value="2019">2019년</option>
<option value="2020">2020년</option>
<option value="2021">2021년</option>
<option value="2022">2022년</option>
</select>
                      <select class="selDate" data-name="StandardModel.ContractStartDate" data-val="true" data-val-number="Month 필드는 숫자여야 합니다." data-val-required="Month 필드가 필요합니다." id="DevStMonth" name="StandardModel.ContractStartDate.Value.Month" title="계약기간 시작 월"><option value="">월</option>
<option value="01">01월</option>
<option value="02">02월</option>
<option value="03">03월</option>
<option value="04">04월</option>
<option value="05">05월</option>
<option value="06">06월</option>
<option value="07">07월</option>
<option value="08">08월</option>
<option value="09">09월</option>
<option value="10">10월</option>
<option value="11">11월</option>
<option value="12">12월</option>
</select>
                      <select class="selDate" data-name="StandardModel.ContractStartDate" data-val="true" data-val-number="Day 필드는 숫자여야 합니다." data-val-required="Day 필드가 필요합니다." id="DevStDay" name="StandardModel.ContractStartDate.Value.Day" title="계약기간 시작 일">































<option value="">일</option></select>
                      <span class="hyphen">~</span>
                      <select class="selYear" data-name="StandardModel.ContractEndDate" data-val="true" data-val-number="Year 필드는 숫자여야 합니다." data-val-required="Year 필드가 필요합니다." id="StandardModel_ContractEndDate_Value_Year" name="StandardModel.ContractEndDate.Value.Year" title="계약기간 종료 년"><option value="">년</option>
<option value="2018">2018년</option>
<option selected="selected" value="2019">2019년</option>
<option value="2020">2020년</option>
<option value="2021">2021년</option>
<option value="2022">2022년</option>
</select>
                      <select class="selDate" data-name="StandardModel.ContractEndDate" data-val="true" data-val-number="Month 필드는 숫자여야 합니다." data-val-required="Month 필드가 필요합니다." id="DevEdMonth" name="StandardModel.ContractEndDate.Value.Month" title="계약기간 종료 월"><option value="">월</option>
<option value="01">01월</option>
<option value="02">02월</option>
<option value="03">03월</option>
<option value="04">04월</option>
<option value="05">05월</option>
<option value="06">06월</option>
<option value="07">07월</option>
<option value="08">08월</option>
<option value="09">09월</option>
<option value="10">10월</option>
<option value="11">11월</option>
<option value="12">12월</option>
</select>
                      <select class="selDate" data-name="StandardModel.ContractEndDate" data-val="true" data-val-number="Day 필드는 숫자여야 합니다." data-val-required="Day 필드가 필요합니다." id="DevEdDay" name="StandardModel.ContractEndDate.Value.Day" title="계약기간 종료 일">































<option value="">일</option></select>
                      <p class="noti">※ 근로계약기간을 정하지 않은 경우 근로개시일만 기재</p>
                  </div>
                    <div id="wpforms-5486-field_8-container" class="wpforms-field wpforms-field-text" data-field-id="8">
                      <label class="wpforms-field-label" for="wpforms-5486-field_8">근무장소</label><input type="text"
                        id="wpforms-5486-field_8" class="wpforms-field-medium" name="wpforms[fields][8]"> <a class="width-auto" href="#" style="background: rgba(0, 0, 0, 0) linear-gradient(to right bottom , , ) repeat scroll 0 0" target="_blank">
                          <span class="button-text" >검색하기</span>
                      </a></div>
                    <div id="wpforms-5486-field_11-container" class="wpforms-field wpforms-field-text"
                      data-field-id="11"><label class="wpforms-field-label"
                        for="wpforms-5486-field_11">업무내용</label><input type="text" id="wpforms-5486-field_11"
                        class="wpforms-field-medium" name="wpforms[fields][11]"></div>
                    <div id="wpforms-5486-field_10-container" class="wpforms-field wpforms-field-select"
                      data-field-id="10"><label class="wpforms-field-label"
                        for="wpforms-5486-field_10">근로시간</label><select id="wpforms-5486-field_10"
                        class="wpforms-field-medium" name="wpforms[fields][10]">
                        <option value="First Choice">First Choice</option>
                        <option value=""></option>
                        <option value="Second Choice" selected="selected">Second Choice</option>
                        <option value="Third Choice">Third Choice</option>
                      </select></div>
                    <div id="wpforms-5486-field_15-container"
                      class="wpforms-field wpforms-field-radio wpforms-list-inline" data-field-id="15"><label
                        class="wpforms-field-label" for="wpforms-5486-field_15">근무일</label>
                      <ul id="wpforms-5486-field_15">
                        <li class="choice-1 depth-1"><input type="radio" id="wpforms-5486-field_15_1"
                            name="wpforms[fields][15]" value="주1일"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_15_1">주1일</label></li>
                        <li class="choice-2 depth-1"><input type="radio" id="wpforms-5486-field_15_2"
                            name="wpforms[fields][15]" value="주2일"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_15_2">주2일</label></li>
                        <li class="choice-3 depth-1"><input type="radio" id="wpforms-5486-field_15_3"
                            name="wpforms[fields][15]" value="주3일"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_15_3">주3일</label></li>
                        <li class="choice-4 depth-1"><input type="radio" id="wpforms-5486-field_15_4"
                            name="wpforms[fields][15]" value="주4일"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_15_4">주4일</label></li>
                        <li class="choice-5 depth-1"><input type="radio" id="wpforms-5486-field_15_5"
                            name="wpforms[fields][15]" value="주5일"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_15_5">주5일</label></li>
                        <li class="choice-6 depth-1"><input type="radio" id="wpforms-5486-field_15_6"
                            name="wpforms[fields][15]" value="주6일"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_15_6">주6일</label></li>
                        <li class="choice-7 depth-1"><input type="radio" id="wpforms-5486-field_15_7"
                            name="wpforms[fields][15]" value="매일"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_15_7">매일</label></li>
                      </ul>
                    </div>
                    <div id="wpforms-5486-field_13-container"
                      class="wpforms-field wpforms-field-radio wpforms-list-inline" data-field-id="13"><label
                        class="wpforms-field-label" for="wpforms-5486-field_13">임금</label>
                      <ul id="wpforms-5486-field_13">
                        <li class="choice-1 depth-1"><input type="radio" id="wpforms-5486-field_13_1"
                            name="wpforms[fields][13]" value="시급"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_13_1">시급</label></li>
                        <li class="choice-2 depth-1"><input type="radio" id="wpforms-5486-field_13_2"
                            name="wpforms[fields][13]" value="일급"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_13_2">일급</label></li>
                        <li class="choice-3 depth-1"><input type="radio" id="wpforms-5486-field_13_3"
                            name="wpforms[fields][13]" value="주급"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_13_3">주급</label></li>
                        <li class="choice-4 depth-1"><input type="radio" id="wpforms-5486-field_13_4"
                            name="wpforms[fields][13]" value="월급"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_13_4">월급</label></li>
                        <li class="choice-5 depth-1"><input type="radio" id="wpforms-5486-field_13_5"
                            name="wpforms[fields][13]" value="건별"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_13_5">건별</label></li>
                        <li class="choice-6 depth-1"><input type="radio" id="wpforms-5486-field_13_6"
                            name="wpforms[fields][13]" value="연봉"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_13_6">연봉</label></li>
                      </ul>
                    </div>
                    <div id="wpforms-5486-field_14-container" class="wpforms-field wpforms-field-number"
                      data-field-id="14"><input type="number" pattern="[0-9]*" id="wpforms-5486-field_14"
                        class="wpforms-field-small" name="wpforms[fields][14]">
                      <div class="wpforms-field-description">급여 입력</div>
                    </div>
                    <div id="wpforms-5486-field_18-container" class="wpforms-field wpforms-field-text"
                      data-field-id="18"><label class="wpforms-field-label" for="wpforms-5486-field_18">임금
                        지급일</label><input type="text" id="wpforms-5486-field_18" class="wpforms-field-medium"
                        name="wpforms[fields][18]"></div>
                    <div id="wpforms-5486-field_17-container"
                      class="wpforms-field wpforms-field-radio wpforms-list-inline" data-field-id="17"><label
                        class="wpforms-field-label" for="wpforms-5486-field_17">지급방법</label>
                      <ul id="wpforms-5486-field_17">
                        <li class="choice-1 depth-1"><input type="radio" id="wpforms-5486-field_17_1"
                            name="wpforms[fields][17]" value="직접 지금"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_17_1">직접 지금</label></li>
                        <li class="choice-2 depth-1"><input type="radio" id="wpforms-5486-field_17_2"
                            name="wpforms[fields][17]" value="예금통장에 입금"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_17_2">예금통장에 입금</label></li>
                      </ul>
                    </div>
                    <div id="wpforms-5486-field_16-container"
                      class="wpforms-field wpforms-field-checkbox wpforms-list-inline" data-field-id="16"><label
                        class="wpforms-field-label" for="wpforms-5486-field_16">사회보험 적용여부</label>
                      <ul id="wpforms-5486-field_16">
                        <li class="choice-1 depth-1"><input type="checkbox" id="wpforms-5486-field_16_1"
                            name="wpforms[fields][16][]" value="고용보험"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_16_1">고용보험</label></li>
                        <li class="choice-2 depth-1"><input type="checkbox" id="wpforms-5486-field_16_2"
                            name="wpforms[fields][16][]" value="산재보험"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_16_2">산재보험</label></li>
                        <li class="choice-3 depth-1"><input type="checkbox" id="wpforms-5486-field_16_3"
                            name="wpforms[fields][16][]" value="국민연금"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_16_3">국민연금</label></li>
                        <li class="choice-4 depth-1"><input type="checkbox" id="wpforms-5486-field_16_4"
                            name="wpforms[fields][16][]" value="건강보험"><label class="wpforms-field-label-inline"
                            for="wpforms-5486-field_16_4">건강보험</label></li>
                      </ul>
                    </div>
                  </div>
                  <div class="wpforms-field wpforms-field-hp"><label for="wpforms-5486-field-hp"
                      class="wpforms-field-label">Name</label><input type="text" name="wpforms[hp]"
                      id="wpforms-5486-field-hp" class="wpforms-field-medium"></div>
                  <div class="wpforms-submit-container"><input type="hidden" name="wpforms[id]" value="5486"><input
                      type="hidden" name="wpforms[author]" value="0"><input type="hidden" name="wpforms[post_id]"
                      value="5444"><button type="submit" name="wpforms[submit]" class="wpforms-submit "
                      id="wpforms-submit-5486" value="wpforms-submit" aria-live="assertive" data-alt-text="Sending..."
                      data-submit-text=""></button></div>
                </form>
              </div> <!-- .wpforms-container -->
              <div class="vc_controls-element vc_controls" data-can-all="true" data-can-edit="true">
                <div class="vc_controls-cc" style="top: 953.5px;">
                  <a class="vc_control-btn vc_element-name vc_element-move" target="_blank"><span class="vc_btn-content"
                      title="Drag to move WPForms"><i class="vc-composer-icon vc-c-icon-dragndrop"></i>
                      WPForms
                    </span></a><a class="vc_control-btn vc_control-btn-edit" data-control="edit" href="#"
                    title="Edit WPForms" target="_blank"><span class="vc_btn-content"><i
                        class="vc-composer-icon vc-c-icon-mode_edit"></i></span></a><a
                    class="vc_control-btn vc_control-btn-clone" data-control="clone" href="#" title="Clone WPForms"
                    target="_blank"><span class="vc_btn-content"><i
                        class="vc-composer-icon vc-c-icon-content_copy"></i></span></a><a
                    class="vc_control-btn vc_control-btn-delete" data-control="delete" href="#" title="Delete WPForms"
                    target="_blank"><span class="vc_btn-content"><i
                        class="vc-composer-icon vc-c-icon-delete_empty"></i></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vc_controls-column vc_controls">
        <div class="vc_controls-out-tl">
          <div class="vc_parent parent-vc_row"><a class="vc_control-btn vc_element-name vc_element-move vc_move-vc_row"
              title="Drag to move Row" target="_blank"><span class="vc_btn-content">
                <i class="vc-composer-icon vc-c-icon-dragndrop"></i>
                Row</span></a><span class="vc_advanced"><a class="vc_control-btn vc_control-btn-edit vc_edit" href="#"
                title="Edit Row" target="_blank"><span class="vc_btn-content"><i
                    class="vc-composer-icon vc-c-icon-mode_edit"></i></span></a><a
                class="vc_control-btn vc_control-btn-layout vc_edit" href="#" title="Change layout"
                target="_blank"><span class="vc_btn-content"><i
                    class="vc-composer-icon vc-c-icon-row_default_fe"></i></span></a><a
                class="vc_control-btn vc_control-btn-prepend vc_edit" href="#" title="Add new Column"
                target="_blank"><span class="vc_btn-content"><i class="vc-composer-icon vc-c-icon-add"></i></span></a><a
                class="vc_control-btn vc_control-btn-clone" href="#" title="Clone Row" target="_blank"><span
                  class="vc_btn-content"><i class="vc-composer-icon vc-c-icon-content_copy"></i></span></a><a
                class="vc_control-btn vc_control-btn-delete" href="#" title="Delete Row" target="_blank"><span
                  class="vc_btn-content"><i class="vc-composer-icon vc-c-icon-delete_empty"></i></span></a></span><a
              class="vc_control-btn vc_control-btn-switcher" title="Show Row controls" target="_blank"><span
                class="vc_btn-content"><i class="vc-composer-icon vc-c-icon-arrow_drop_right"></i></span></a>
          </div>
          <div class="vc_element element-vc_column vc_active"><a
              class="vc_control-btn vc_element-name vc_element-move vc_move-vc_column ui-sortable-handle"
              title="Drag to move Column" target="_blank"><span class="vc_btn-content">
                <i class="vc-composer-icon vc-c-icon-dragndrop"></i>
                Column</span></a><span class="vc_advanced"><a class="vc_control-btn vc_control-btn-edit" href="#"
                title="Edit Column" target="_blank"><span class="vc_btn-content"><i
                    class="vc-composer-icon vc-c-icon-mode_edit"></i></span></a><a
                class="vc_control-btn vc_control-btn-prepend" href="#" title="Prepend to Column" target="_blank"><span
                  class="vc_btn-content"><i class="vc-composer-icon vc-c-icon-add"></i></span></a><a
                class="vc_control-btn vc_control-btn-delete" href="#" title="Delete Column" target="_blank"><span
                  class="vc_btn-content"><i
                    class="vc-composer-icon vc-c-icon-delete_empty"></i></span></a>"&gt;</span><a
              class="vc_control-btn vc_control-btn-switcher" title="Show Column controls" target="_blank"><span
                class="vc_btn-content"><i class="vc-composer-icon vc-c-icon-arrow_drop_right"></i></span></a>
          </div>
        </div>

        <div class="vc_controls-bc">
          <a class="vc_control-btn vc_control-btn-append" href="#" title="Append to Column" target="_blank"><span
              class="vc_btn-content"><i class="vc-composer-icon vc-c-icon-add"></i></span></a>
        </div>

      </div><!-- end vc_controls-column -->
      <div class="vc_resize-bar"></div>
    </div>
  </div>
  <div class="no-controls"></div>
</div>