// @import 'utils';

.header {
  background: #3b57ab;
  .header-content {
    height: 50px;
    width: 100% ;
    margin: 0 auto;
    padding: 2rem ;
    display: flex;
    align-items: center;

    @include media("<wide") {
      width: 100%;
    }
    @include media("<medium") {
      padding: 1rem;
    }

    .logo {
      color: $oc-indigo-3;
      font-size: .5rem;
      font-weight: bold;
    }

    .header-title {
      color: #fff;
    }
  }
}