@import 'utils';

.header {
  background: $oc-indigo-2;
  .header-content {
    height: 5rem;
    width: 100% ;
    margin: 0 auto;
    padding: 3rem ;

    display: flex;
    align-items: center;

    @include media("<wide") {
      width: 100%;
    }
    @include media("<medium") {
      padding: 1rem;
    }

    .logo {
      color: $oc-indigo-3;
      font-size: .5rem;
      font-weight: bold;
    }

    .right {
      margin-left: auto;
    }
  }
}